.chart-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: auto;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow-color);
    margin: 2rem;
}

.graph{
    padding: 1rem;
    box-shadow: var(--shadow-color);
}

.pie-chart{
    padding: 1rem;
    box-shadow: var(--shadow-color);
}